
@{
    Layout = "_SideLayout";

}


<h1>
    ASP.NET MVC Project
</h1>

<h3>
    Under supervision of Eng.Basma
</h3>

<br />

<h2 style="color:darkred"> Iti </h2>

<br />

<video src="~/videos/ITI .mp4" controls></video>