
@{ 
    Layout = "_SideLayout";
}


<h1>
    Team 7
    <br />
    Members:
</h1>


    <ol>
        
        <li>Belal Hazem (Software Arhitecture)</li>
        <li> Omar Diaa (Enterprise) </li>
        <li>Omar Gamal (Software Arhitecture)</li>
        <li>Jamal Ali      (Software Arhitecture)</li>
        <li>Ahmad Mustafa (Software Arhitecture)  </li>
    </ol>
   



