
@{ 
    Layout = "_SideLayout";
}


<h1>
    Team 7
    <br />
    Members:
</h1>

<h3>
    Ahmad Moustafa -- SWA
    <br />
    Belal Hazem  -- SWA
    <br />
    Omar Diaa  -- EWD
    <br />
    Omar Gamal  -- SWA
    <br />
    Jamal Ali  -- SWA
</h3>


