

<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a asp-action="Index" asp-controller="Home"><img class="logo" src="~/images/logo1.png" alt=""></a>
                <p>
                    Smart Village<br>
                    Giza, Egypt
                </p>
                <p>Call us: <a>(+02) 222 222 222</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Resources</h4>
                <ul>
                    <li><a asp-action="About" asp-controller="Home">About</a></li>
                    <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.twitter.com"><i class="ion-social-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.google.com"><i class="ion-social-googleplus"></i> Google-Plus</a></li>
                    <li><a href="https://www.youtube.com"><i class="ion-social-youtube"></i> Youtube</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Account</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">My Cart</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5">
                <h4>Newsletter</h4>
                <p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
                <form action="#">
                    <input type="text" placeholder="Enter your email...">
                </form>
                <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
            </div>
        </div>
    </div>
</footer>
