@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav flex-child-menu menu-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-action="BuyMovies" asp-controller="User">Cart</a></li>
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="btn"><a asp-action="Logout" asp-controller="User">Logout</a></li>

    }
    else
    {
        <li><a asp-action="BuyMovies" asp-controller="User">Cart</a></li>
        <li class="btn"><a asp-action="Login" asp-controller="User">LOG In</a></li>
        <li class="btn"><a asp-action="Register" asp-controller="User">sign up</a></li>

    }
</ul>
