

<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a asp-action="Index" asp-controller="Home"><img class="logo" src="~/images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">

                    @*DeveloperTopButton*@
                    <li class="@*hidden*@">
                        <a href="#" target="_top"><i style="font-size:xx-large" class="ion-ios-arrow-up"></i></a>
                    </li>
                    <li>
                        <a class="ion-home" asp-action="Index" asp-controller="Home"> Home</a>
                    </li>
                    <li class="dropdown first">
                        <a asp-action="ListAllMovies" asp-controller="Movies" class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a asp-action="ListMoviesByCategory" asp-controller="Movies" asp-route-condition="Latest">Latest Movies</a></li>
                            <li><a asp-action="ListMoviesByCategory" asp-controller="Movies" asp-route-condition="Popular">Most Popular Movies</a></li>
                            <li class="it-last"><a asp-action="ListMoviesByCategory" asp-controller="Movies" asp-route-condition="Soon">Coming Soon</a></li>
                            <li class="dropdown">
                                <a @*href="#"*@ class="dropdown-toggle" data-toggle="dropdown">Genre<i class="ion-ios-arrow-forward"></i></a>
                                <ul class="dropdown-menu level2">
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="12"> Adventure </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="28"> Action </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="18"> Drama </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="35"> Comedy </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="10751"> Family </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="16"> Animation </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="14"> Fantasy </a></li>
                                    <li><a asp-action="ListMoviesByGenre" asp-controller="Movies" asp-route-genre="10749"> Romance </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="ion-ios-contact-outline" asp-action="ContactUs" asp-controller="Home"> Contact Us</a>
                    </li>

                    <li>
                        <a class="ion-ios-book" asp-action="About" asp-controller="Home"> About</a>
                    </li>

                </ul>

                <partial name="_LoginPartial" />

                @*<ul class="nav navbar-nav flex-child-menu menu-right">
                    <li><a asp-action="BuyMovies" asp-controller="User">Cart</a></li>
                    <li class="loginLink"><a href="#">LOG In</a></li>
                    <li class="btn"><a asp-action="SignUp" asp-controller="User">sign up</a></li>
                </ul>*@
            </div>
        </nav>

        <div class="top-search">
            <select id="condition" style="margin:10px">
                <option value="Title">Movie Title</option>
                <option value="Vote">Vote Average</option>
            </select>
            <input id="search" type="text" placeholder="Search for a movie that you are looking for">
            <span><a id="searchLink" style="color:beige;margin:10px;background:content-box;cursor:pointer;font-size:1.8rem"> Search </a></span>
        </div>
    </div>
</header>

<script>
    document.querySelector("#condition").addEventListener("change", function () {
        if (this.value == "Title")
            document.querySelector("#search").type = "text"
        else if (this.value == "Vote")
            document.querySelector("#search").type = "number"
    })

    document.querySelector("#searchLink").addEventListener("click", function () {
        var condition = document.querySelector("#condition").value
        var search = document.querySelector("#search").value
        this.href = "https://localhost:44308/Movies/Search/"+condition+"/"+search;
    })
</script>