@model Demo.Models.ApplicationUser

@{
    Layout = "_SideLayout";
    ViewData["Title"] = "SignUp";
}



<h1>Sign Up</h1>

<h4>Customer</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/User/Register" method="post">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <div class="form form-group">
                <label asp-for="UserName" class=""></label>
                <input asp-for="UserName" class="" />
                <span asp-validation-for="UserName" class=""></span>
            </div>
            <div class="form form-group">
                <label class="">Password</label>
                <input type="password" name="Password" class="" />
            </div>
            @*<div asp-validation-summary="ModelOnly" class=""></div>
                <div class="">
                    <label asp-for="FirstName" class=""></label>
                    <input asp-for="FirstName" class="" />
                    <span asp-validation-for="FirstName" class=""></span>
                </div>
                <div class="">
                    <label asp-for="LastName" class=""></label>
                    <input asp-for="LastName" class="" />
                    <span asp-validation-for="LastName" class=""></span>
                </div>
                <div class="">
                    <label asp-for="EmailAddress" class=""></label>
                    <input asp-for="EmailAddress" class="" />
                    <span asp-validation-for="EmailAddress" class=""></span>
                </div>
                <div class="">
                    <label asp-for="ConfirmEmailAdress" class=""></label>
                    <input asp-for="ConfirmEmailAdress" class="" />
                    <span asp-validation-for="ConfirmEmailAdress" class=""></span>
                </div>
                <div class="">
                    <label asp-for="Password" class=""></label>
                    <input asp-for="Password" class="" />
                    <span asp-validation-for="Password" class=""></span>
                </div>
                <div class="">
                    <label asp-for="ConfirmPassword" class=""></label>
                    <input asp-for="ConfirmPassword" class="" />
                    <span asp-validation-for="ConfirmPassword" class=""></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class=""></label>
                    <input asp-for="Address" class="" />
                    <span asp-validation-for="Address" class=""></span>
                </div>
                <div class="">
                    <label asp-for="Gender" class=""></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList(typeof(Gender))" class=""></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="">
                    <label asp-for="BirthDate" class=""></label>
                    <input asp-for="BirthDate" class="" />
                    <span asp-validation-for="BirthDate" class=""></span>
                </div>
                <div class="">
                    <label asp-for="PhoneNo" class=""></label>
                    <input asp-for="PhoneNo" class="" />
                    <span asp-validation-for="PhoneNo" class=""></span>
                </div>*@
            <div class="">
                <input type="submit" value="Sign Up" class="" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
