
@model ShoppingCartViewModel;

@{ Layout = "_SideLayout";}

<h2>Your Shopping Cart</h2>
<h4> Here are your favourite movies you selected </h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>selected amount </th>
            <th>Movie</th>
            <th class="text-right">Price</th>
            <th class="text-right">Sub total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.MovieOrder)
        {
<tr>
    <td class="text-center"> @item.CountItems</td>
    <td class="text-center">@item.Title</td>
    <td class="text-center">10</td>
    <td class="text-right">
        @((item.CountItems * 10).ToString("c"));
    </td>


</tr>}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">total :</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c");

            </td>
        </tr>
    </tfoot>
</table>